@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Baskervville', serif;
}
.clip {
	clip-path: inset(0);
}

.gallery {
	grid-auto-rows: 500px 250px;
}
